<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Mira watch logbook</title>
<meta http-equiv="refresh" content="300">
<style>
    table {
        border-color: black;
        border-style: solid;
        border-width: 2px;
        border-collapse: collapse;
    }
    td {
        border-color: grey;
        border-style: solid;
        border-width: 1px;
        border-collapse: collapse;
        padding: 3px;
    }
</style>
</head>

<body>
<form method='post' action='/events'>

<select name='type'>
{% for type_name in type_list %}
<option>{{type_name}}</option>
{% endfor %}
</select>

<select name='event_time'>
{{options}}
</select>

<button type='submit'>MAKE</button>

</form>
<table>
{% for type in times %}
<tr>
<td>{{type.name}}</td> <td>{{type.time}}</td>
</tr>
{% endfor %}
</table>
</body>

</html>
