<!DOCTYPE html
PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" 
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<head>
<title>Form of titleness</title>
</head>

<body>
<form method='post' action='/events'>
<select name='type'>
{% for type_name in type_list %}
<option>{{type_name}}</option>
{% endfor %}
</select>
<button type='submit'>MAKE</button>
</form>
<table>
{% for type in times %}
<tr>
<td>{{type.name}}</td> <td>{{type.time}}</td>
</tr>
{% endfor %}
</table>
</body>

</html>
